#user_register {
    display: flex;
    justify-content: center;
    padding: 30px 80px;
    background-color: aliceblue;
}
#register_form {
    padding: 10px;
    background-color: white;
    display:flex;
    justify-content: space-between;
    text-align: center;
}
#register_form .banner{
    width:600px;
    height:auto;
}
#register_form .form-register{
    padding:0 30px 20px;
    text-align: center;
}
.form-register .default-login{
    border: solid 1px aqua;
    padding:10px 20px;
}
.default-login h1{
    color:var(--color-brand);
}
.default-login .user-box{
    width:100%;
    margin:5px 0px;
    text-align: left;
}
.user-box input{
    border:none;
    width:85%;
    border-bottom: solid 1px rgb(98, 89, 89);
    outline:none;
}
.default-login .submit{
    text-align: center;
    margin:10px 0px;
}
.submit .submit-button{
    padding:5px 10px;
    font-size:18px;
    cursor:pointer;
    transition:all .3s ease;
    color:white;
    background-color: var(--color-brand);
    border-radius: 10px;
    border:none;
}
.submit .submit-button:hover{
    transform: scale(1.1);
}
.submit .submit-button:active{
    transform: scale(1);
}
@media (max-width:1310px) {
    #register_form .banner{
        display:none;
    }
}