#user_register{
    display:flex;
    justify-content: center;
}
#register_form{
    border-radius: 20px;
}
#register_form .rememberme_checkbox{
    margin:0px;
    font-size:18px;
    text-align: left;
    margin-left: 50px;
}
#register_form .rememberme_checkbox span,
#register_form .rememberme_checkbox a{
    display:inline-block;
    padding:1px 0px;
}
@media (max-width:1200px) {
    #user_register .banner{
        display:none;
    }
    #user_register #register_form{
        padding-bottom:20px;
        border-radius: 20px;
    }
}