#user_register{
    display:flex;
    justify-content: center;
}
#register_form{
    border-radius: 20px;
    display:flex;
    justify-content: center;
    padding:20px;
}
#register_form .form-login{
    padding:10px 20px; 
    border:solid 1px aqua;
    border-radius: 10px;
    margin:0px 20px;
}
.form-login h1{
    font-size: 2rem;
    text-align:center;
    color:var(--color-brand);
}
.form-login .user-box{
    width:100%;
    text-align: left;
}
.user-box .remember-login {
    margin:15px 0px 0px 0px;
}
.user-box .remember-login .remember-check{
    width:max-content;
}
.form-login .submit{
    text-align: center;
    margin:15px 0px;
}