<form id="user_register" method="POST">
    <div class="banner">
        <img src="./img/hop-tac-kinh-doanh.jpg" alt="Brands" title="Viec lam 24h">
    </div>
    <div id="register_form">
        <div class="form-login">
            <h1>Chào mừng trở lại !</h1>
            <div class="user-box user-email-box" style="margin-top:20px">
                <i class="fa-solid fa-envelope"></i>
                <input type="email"name="useremail"id="useremail"placeholder="Email" required>    
            </div>
            <div class="user-box user-password-box" style="margin-top:10px">
                <i class="fa-solid fa-key"></i>
                <input type="password" name="userpassword" id="userpassword" placeholder="Mật khẩu"required>
                
            </div>
            <div class="rememberme_checkbox" >
                <input type="checkbox">
                <span>Ghi nhớ cho lần đăng nhập sau</span><br>
                <a href="#">Quên mật khẩu ?</a>
            </div>
            <p><button type="submit">Đăng nhập !</button></p>
        </div>  
    </div>
</form>
<script src="js/sign_in.js"></script>