<div class="resgister_successful">
    <div class="register_successful_box">
        <i class="fa-solid fa-face-frown"></i>
        <p>Tài khoản chưa có trên hệ thống :((</p>
        <button><a href="../action/register">Đăng ký ngay !</a></button>
    </div>
</div>