<div class="resgister_successful">
    <div class="register_successful_box">
        <i class="fa-solid fa-circle-check"></i>
        <p>Đăng ký thành công !!!</p>
        <button><a href="/sign_in">Trở về trang đăng nhập</a></button>
    </div>
</div>
