<footer>
    <div>
        <img src="../img/logo.png" alt="Logo Brand" title="Về trang chủ">
        <span class="brand">Việc Làm <span style="color:rgb(7, 106, 73)">24h</span></span>
        <p><a href="#">Về chúng tôi</a></p>
        <p><a href="#">Chính sách bảo mật</a></p>
        <p>
            <i class="fa-solid fa-location-dot"></i>
            Văn phòng : Phường Minh Khai, Bắc Từ Liêm,Hà Nội
        </p>
        <p>
            <i class="fa-solid fa-phone"></i>
            Điện thoại :<span> +84905666666</span>
        </p>
        <p>
            <i class="fa-solid fa-envelope"></i>
            Email : <span>info.vieclam24h@gmail.com</span>
        </p>
        <p>
            <i class="fa-brands fa-facebook"></i>
            Fanpage:<span>fb.com/vieclam24h.com</span>
        </p>
    </div>
    <div>
        <p>Tuyển dụng</p>
        <ul>
            <li><a href="#">
                <i class="fa-solid fa-angles-right"></i>
                Tuyển dụng tại thành phố Hồ Chí Minh
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-angles-right"></i>
                Tuyển dụng tại Hà Nội
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-angles-right"></i>
                Tuyển dụng tại Đã Nẵng
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-angles-right"></i>
                Tuyển dụng tại Hải Phòng
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-angles-right"></i>
                Tuyển dụng tại Bình Dương
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-angles-right"></i>
                Tuyển dụng tại Đồng Nai
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-angles-right"></i>
                Tuyển dụng tại Bà Rịa-Vũng Tàu
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-angles-right"></i>
                Tuyển dụng tại Cần Thơ
            </a></li>
        </ul>
    </div>
    <div>
        <p>Ứng viên</p>
        <ul>
            <li><a href="#">
                <i class="fa-solid fa-angles-right"></i>
                Ứng viên tại thành phố Hồ Chí Minh
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-angles-right"></i>
                Ứng viên tại Hà Nội
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-angles-right"></i>
                Ứng viên tại Đã Nẵng
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-angles-right"></i>
                Ứng viên tại Hải Phòng
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-angles-right"></i>
                Ứng viên tại Bình Dương
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-angles-right"></i>
                Ứng viên tại Đồng Nai
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-angles-right"></i>
                Ứng viên tại Bà Rịa-Vũng Tàu
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-angles-right"></i>
                Ứng viên tại Cần Thơ
            </a></li>
        </ul>
    </div>
</footer>