<header>
	<div>
		<a class='brand-logo'href="/">
			<img src="../../img/logo.png" title="Về trang chủ">
		</a>
		<span class="brand">Việc Làm <span style="color:rgb(7, 106, 73)">24h</span></span>
		<div class="searching-area">
			<input type="text" id="searching_input" placeholder="Nhập từ khoá bạn muốn tìm...">
			<label for="seaching_input">
				<i class="fa-solid fa-magnifying-glass"></i>
			</label>
		</div>
	</div>
	<div>
		<ul style="padding:0px ; margin:0px">
			<li class="notifications">
				<a href="#">
					<i class="fa-solid fa-earth-asia"></i><br>
					Thông báo
				</a>
			</li>
			<li class="first_menu customer-severvice"><a href="#">
					<i class="fa-solid fa-briefcase"></i><br>
					Dịch vụ
				</a>
				<ul class="second_menu second_menu_box">
					<li><a href="#">
							Ứng viên
						</a>
						<ul class="third_menu third_menu_box">
							<li><a href="#">Bán hàng</a></li>
							<li><a href="#">Tư vấn bảo hiểm</a></li>
							<li><a href="#">Báo chí</a></li>
							<li><a href="#">Biên tập viên</a></li>
							<li><a href="#">Bất động sản</a></li>
							<li><a href="#">Biên dịch/Phiên dịch</a></li>
							<li><a href="#">Bưu chính viễn thông</a></li>
							<li><a href="#">Cơ khí/Kỹ thuật ứng dụng</a></li>
							<li><a href="#">Công nghệ thông tin</a></li>
							<li><a href="#">Dầu khí/Địa chất</a></li>
						</ul>
					</li>
					<li><a href="#">
							Việc làm
						</a></li>
					<li><a href="#">
							Doanh việc
						</a></li>
					<li><a href="#">
							Dịch vụ cao cấp
						</a></li>
					<li><a href="#">
							Cẩm nang việc làm
						</a></li>
					<li><a href="#">
							Cẩm nang tuyển dụng
						</a></li>
				</ul>
			</li>
			<li class="price"><a href="#">
					<i class="fa-solid fa-tag"></i><br>
					Giá
				</a></li>
			<li id="user_location">
				<img class="user_avatar" src="../../{{avatarpath}}" alt="avatar">
				<span id="username_top_right">{{username}}</span>
				<ul class="dropdown_option">
					<li id="user_login"><a href="action/login" id="login">
							<i class="fa-solid fa-right-to-bracket"></i>
							Đăng nhập
						</a></li>
					<li id="user_register_new"><a href="action/register" id="register">
							<i class="fa-solid fa-user-plus"></i>
							Đăng ký
						</a></li>
					<li id="user_profile"><a href="user/profile" id="user-profile">
							<i class="fa-solid fa-pen-to-square"></i>
							Trang cá nhân
						</a></li>
					<li id="user_logout"><a href="action/logout">
							<i class="fa-solid fa-right-from-bracket"></i>
							Đăng xuất
						</a>
					</li>
				</ul>
			</li>
		</ul>

	</div>

</header>